﻿#hdr {

    /* For Firefox 16 and Internet Explorer 10 */
    transition: background-image 1s ease-in-out;
    /* For Chrome 22 and Safari 6 */
    -webkit-transition: background-image 1s ease-in-out;
    /* For Opera 12 */
    -o-transition: background-image 1s ease-in-out;
    -moz-transition: background-image 1s ease-in-out;

    -webkit-animation: test 30s infinite alternate ease-in-out;
     -moz-animation: test 30s infinite alternate ease-in-out;
       -o-animation: test 30s infinite alternate ease-in-out;
          animation: test 30s infinite alternate ease-in-out;
}


@-webkit-keyframes test {
    0%  {background-image:url(/Content/Images/Banners/ban2.jpg); opacity: 1;}
    35%  {background-image:url(/Content/Images/Banners/ban1.jpg); opacity: 1;}
    70% {background-image:url(/Content/Images/Banners/ban3.jpg); opacity: 1;}
}
   @-moz-keyframes test {
    0%  {background-image:url(/Content/Images/Banners/ban2.jpg); opacity: 1;}
    35%  {background-image:url(/Content/Images/Banners/ban1.jpg); opacity: 1;}
    70% {background-image:url(/Content/Images/Banners/ban3.jpg); opacity: 1;}
   }
     @-o-keyframes test { 
     0%  {background-image:url(/Content/Images/Banners/ban2.jpg); opacity: 1;}
    35%  {background-image:url(/Content/Images/Banners/ban1.jpg); opacity: 1;}
    70% {background-image:url(/Content/Images/Banners/ban3.jpg); opacity: 1;}
     }
        
     @keyframes test {
         0%  {background-image:url(/Content/Images/Banners/ban2.jpg); opacity: 1;}
        35%  {background-image:url(/Content/Images/Banners/ban1.jpg); opacity: 1;}
        70% {background-image:url(/Content/Images/Banners/ban3.jpg); opacity: 1;}
     }

@keyframes font {
    0%   {color: #52DFD5;}
    25%  {color: #756AE6;}
    50%  {color: #6A80E6;}
    100% {color: #ff00dc;}
}

@keyframes border {
    0%   {border-width: 10px; border-style:double; border-color:black;}
    50%  {border-width: 10px; border-style:groove; border-color:black;}
    100% {border-width: 10px; border-style:ridge; border-color:black;}
}

.imgAni {animation: border 6s infinite;}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
