﻿<div style="margin-top: 10%;">
    @model MoviesDB.Models.Movie

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Movie</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Director)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Director)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateReleased)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateReleased)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index", new { id = "back" }, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>