﻿<div style="margin-top: 10%;">
    @model MoviesDB.Models.Movie

    <div>
        <h4>Movie</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Director)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Director)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateReleased)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateReleased)
            </dd>

        </dl>
    </div>
    <div style="display: inline-block; width: 60%; border-radius: 25px;
                background: #8AC007;
                padding: 20px;">
        @using (Html.BeginForm("FileUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <label id="lbl" for="file">Upload New/Change Image:</label>
            <input type="file" name="file" id="file" style="width: 100%;" />
            <input id="clear" type="image" src="/Content/Images/delete.gif" onclick="document.getElementById('file').value = ''; return false;" />
            <input type="hidden" name="nom" id="nom" value="@Html.DisplayFor(model => model.Title)" />
            <input id="buton" type="submit" value="Upload" class="submit" />
        }
        <style>
            #file, #clear, #lbl, #buton {
                display: inline-block;
                float: left;
            }
        </style>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index", new { id = "back" }, htmlAttributes: new { @class = "btn btn-default" })
    </p>
</div>