﻿<div style="margin-top: 10%;">
    @model MoviesDB.Models.Movie
    <div id="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <style>
                #picEle, #detEle {
                    display: inline-block;
                    width: 25%;
                    margin: 0px auto;
                    float:left;
                }
                #detEle {width: 60%;}
                #container { display:inline-block; width: 100%;}

                #backBtn, #saveBtn { display:inline-block; float:left;}
                #backBtn { margin-left: 20px;}
            </style>


            <div id="picEle" class="form-horizontal">
                <img id="poster" src="" />
                <script>
                    document.getElementById('poster').setAttribute("src", "/Content/Images/" + "@Html.DisplayFor(model => model.Title)" + ".jpg");
                    document.getElementById('poster').setAttribute("id", "@Html.DisplayFor(model => model.Title)" + "IM");
                </script>
            </div>
            <div id="detEle" class="form-horizontal">
                <h4>Movie</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                
                <div id="cont2" style="text-align:center; border-bottom-width: 2px; border-color: aqua;">
                    <div class="form-group" style="width: Auto; margin: 0 auto;">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="width: Auto; margin: 0 auto;">
                        @Html.LabelFor(model => model.Director, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Director, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Director, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="width: Auto; margin: 0 auto;">
                        @Html.LabelFor(model => model.DateReleased, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DateReleased, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DateReleased, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div style="margin-top: 10px;">
                <div id="saveBtn" class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
                <div id="backBtn">
                    @Html.ActionLink("Back to List", "Index", new { id = "back" }, htmlAttributes: new { @class = "btn btn-default" })
                </div>
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
    </div>