﻿<div style="margin-top: 8%;">
    @model IEnumerable<MoviesDB.Models.Movie>
    <div>
        @Html.ActionLink("Create New", "Create", new { id = "create" }, htmlAttributes: new { @class = "btn btn-primary" })
        <div id="menu" class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                Menu
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Watch A Movie</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">General Info</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Account Settings</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
            </ul>
        </div>
        <button class="btn btn-primary" id="sort" onclick="location.href='@Url.Action(@ViewBag.Function)'">@ViewBag.Operation</button>
        <button id="signout" class="btn btn-info" onclick="window.location='/Default.aspx'">Signout</button>
    <style>
        #create, #menu, #signout { display: inline-block;}
        #signout { float:right;}
    </style>
    </div>
    <table style="margin-top: 10px;" class="table">
        <tr>
            <th>Poster</th>
            <th style="">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th style="">
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th style="">
                @Html.DisplayNameFor(model => model.DateReleased)
            </th>
            <th>Operation</th>
            <th>Plot</th>
        </tr>
        <script>
            var elArr = [];
        </script>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img style="border-width: 5px; border-style:groove; border-color:black; width: 159px; height:224px;" id="poster" src=""/>
                    <script>
                        elArr.push("@Html.DisplayFor(modelItem => item.Title)");
                        document.getElementById('poster').setAttribute("src", "/Content/Images/" + "@Html.DisplayFor(modelItem => item.Title)" + ".jpg");
                        document.getElementById('poster').setAttribute("id", "@Html.DisplayFor(modelItem => item.Title)" + "IM");
                    </script>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateReleased)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-success" , @style = "width: 70px; height: 30px;"}) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning", @style = "width: 70px; height: 30px;" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger", @style = "width: 70px; height: 30px;" })
                </td>
                <td id="bio" style="width: 30%;">
                    <script>
                        document.getElementById("bio").setAttribute("id", "@Html.DisplayFor(modelItem => item.Title)" + "BIO");
                    </script>
                </td>
            </tr>
        }
        <script>
            function loadBIO() {
                for (var i = 0; i < elArr.length; i++) {
                    var tUrl = "http://www.omdbapi.com/?t=" + elArr[i] + "&y=&plot=full&r=json";
                    $.ajax({
                        url: tUrl,
                        type: "GET",
                        dataType: "jsonp",
                        contentType: "application/json",
                        success: function (data) {
                            var strJSON = JSON.stringify(data);
                            var start = (strJSON.indexOf("Plot")) + 7;
                            var end = (strJSON.indexOf("Language")) - 3;

                            var tStart = (strJSON.indexOf("Title")) + 8;
                            var tEnd = (strJSON.indexOf("Year")) - 3;
                            document.getElementById(strJSON.substring(tStart, tEnd) + "BIO").innerHTML = strJSON.substring(start, end);
                        }
                    });
                }
            }
            setTimeout(loadBIO, 1);
        </script>
    </table>
</div>