﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieDB</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Google web fonts -->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet' />

    <link href="/Content/Site.css" rel='stylesheet' />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="">
    <div id="hdr" class="navbar navbar-fixed-top" style="height: 30vh; background-image:url(/Content/Images/Banners/ban2.jpg); background-size: cover; width: 100%;
         position: absolute;
         top: 0;
         left: 0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="margin-left: 15px; position: absolute; top: 32vh; left:0; font-size: x-large; color: black;">@ViewBag.Message</div>
                <style>#vBag, #signout { display: inline-block;}
                </style>
            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </div>
     <div class="container body-content" style="margin-top: 10%;">
        @RenderBody()
        <hr />
        <footer style="bottom: 0; background-color: black; float: right;">
            <p style="color: white; font-weight: bold;">&copy; @DateTime.Now.Year - Niall Malone</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
